<% layout ('layout') %>

<h1>Hello world <%= user.first_name %> <%= user.last_name %></h1>
<div class="row">
	<div class="col-md-6">
		<form method="post" action="/edit/<%= user.id%>?_method=put">
			<label>Firstname</label>
			<input class="form-control" name="firstname" value="<%=user.first_name%>">
			<br>
			<label>Lastname</label>
			<input class="form-control" name="lastname" value="<%=user.last_name%>">
			<br>
			<label>Username</label>
			<input class="form-control" name="username" value="<%=user.username%>">
			<br>
			<label>Password</label>
			<input class="form-control" name="password" value="<%=user.password%>">
			<br>
			<div class="col-md-3">
				<button class="btn btn-default">Cancel</button>
			</div>
			<div class="col-md-3">
				<button id="save-user" type="submit" class="btn btn-primary">Save user</button>
			</div>
			
		</form>
		<form method="post" action="/delete/<%= user.id%>?_method=delete">
		<div class="col-md-3">
			<button type="submit" id="<%=user.id%>"class="btn btn-danger delete" >Delete user</button>
			</div>
		</form>
	</div>
</div>