<% layout ('layout')%>
		<h1>Hello world!</h1>
		<a href="" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add new user</a>


		<h2>Users</h2>
	
		<table class="table">
			<tr>
				<th> ID </th>
				<th> Firstname </th>
				<th> Lastname </th>
				<th> Username </th>
				<th> Password </th>
				<th> Other </th>
			</tr>
			<% users.forEach(function(user){ %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.username %></td>
				<td><%= user.password %></td>
				<td> 
					<a href="/edit/<%= user.id %>" class="btn btn-warning">Edit</a>
				</td>
			</tr>
			<% });%>
		</table>


	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create new user</h4>
				</div>
				<form method="post" action="/signup">
					<div class="modal-body">
						<label> First Name</label>
						<input name="firstname" id="first_name" class="form-control" placeholder="Name">
						<br>
						<label> Last Name</label>
						<input name="lastname" id="last_name" class="form-control" placeholder="Last Name">
						<br>
						<label> Username</label>
						<input name="username" id="user_name" class="form-control" placeholder="Username">
						<br>
						<label>Password</label>
						<input type="password" name="password" id="user_password" class="form-control" placeholder="Password">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="save-user" type="submit" class="btn btn-success">Save changes</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
